{% extends 'base.html.twig' %}

{% block title %}uDeliver courier app{% endblock %}

{% block body %}
    {#<div id="map" style="position: absolute;top: 0; right: 0; bottom: 0; left: 0;"></div>#}
    {#<script>#}
    {#var map;#}
    {#function initMap() {#}
    {#map = new google.maps.Map(document.getElementById('map'), {zoom: 17,zoomControl: false,mapTypeControl: false,streetViewControl: false,fullscreenControl: false});#}
    {#if (navigator.geolocation) {#}
    {#navigator.geolocation.getCurrentPosition(function (position) {#}
    {#initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);#}
    {#console.log(position.coords);#}
    {#map.setCenter(initialLocation);#}
    {#});#}
    {#}#}
    {#}#}
    {#</script>#}
    {#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFTcxsk4JfgqcChWzEgd7Vs4a5BFWVmIU&callback=initMap" async defer></script>#}
{% endblock %}