<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="sidebar">
    </div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <script>
        var socket = io.connect('https://api.deliveryngo.com:1358/notifications');

        socket.on('reconnecting', function reconnectCallback(tries) {
            console.log('Reconnecting...');
        });

        socket.on('connect', function connectCallback() {
            console.log('Connected!');
        });

        socket.on('add_courier', function(data){console.log(data);});

        var roomNo = parseInt(Math.random() * 10000000);
        socket.emit('join', {room: 'courier_id_' + roomNo});

        socket.on('courier_login_response', function(data){
            console.log(data)
        });
    </script>
</body>
</html>